.grid-3-rows {
    display: grid;
    grid-template-rows: 33% 33% 33%;
    height: 80%;
    max-height: 600px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 150px 150px;
    width: 300px;
    height: 100%;
    margin: auto;
}

.grid-col {
    height: 100%;
    background-repeat: repeat-y;
    background-size: 120px;
    will-change: backgroundPosition;
    transition: 0.3s background-position ease-in-out;
    transform: translateZ(0);
}

.cube {
    background: #ff7f50a1;
    height: 135px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}